<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Converter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2DB88E61CF4D95300D67703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2DB88FA1CF4D95400D67703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2DB89051CF4D95400D67703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
